.page_layout {
  padding-top: 119px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding-bottom: 50px;
  gap: 50px;
}

.page_text {
  color: var(--text-color);
  font-size: 26px;
  text-align: center;
}

.item_img {
  width: 150px;
  height: 150px;
}

.item_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.about_carousel {
  width: 100%;
}

.page_items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}
