:root {
  --bg-color: #848d6a;
  --second-color: #585e46;
  --text-color: #848d6a;
  --second-text-color: white;
  --font-size-nav: calc((100vw - 480px) / (1920 - 480) * (20 - 16) + 16px);
  --font-size-text: calc((100vw - 480px) / (1920 - 480) * (24 - 14) + 16px);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none !important;
  scroll-behavior: smooth;
}

header {
  /*background: var(--bg-color);*/
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
  padding: 22px;
}

#menu-icon {
  font-size: 35px;
  color: white;
  z-index: 101;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

header.sticky {
  background: var(--bg-color);
  border-bottom: 1px solid var(--second-text-color);
  padding: 12px 15px;
  z-index: 100;
}

.header_nav {
  width: 100%;
  display: flex;
}

.nav_content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
  font-size: var(--font-size-nav);
  padding-left: 0;
}

.nav_item a {
  color: var(--second-text-color);
}

.nav_a {
  position: relative;
  cursor: pointer;
}

.nav_a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.5s;
}

.nav_a:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: white;
  transition: width 0.5s;
}

.nav_item img {
  width: 200px;
  height: 75px;
}

.welcome {
  height: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.welcome_content,
.transfer_content {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text {
  font-size: var(--font-size-text);
  color: var(--text-color);
  text-align: center;
}

.icons {
  max-width: 100%;
  width: 1200px;
  display: flex;
  justify-content: space-around;
}

.booking {
  width: 100%;
  height: 400px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.booking .section_header {
  color: var(--second-text-color);
  text-transform: uppercase;
}

.booking_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item_text {
  font-size: var(--font-size-text);
  color: var(--second-color);
}

.item_calendar {
  width: 250px;
  height: 50px;
  border: 1px solid var(--bg-color);
  border-radius: 10px;
  text-align: center;
  font-size: var(--font-size-text);
  color: var(--text-color);
}

.booking_button {
  height: 75px;
  width: 500px;
  background: var(--second-color);
  border: 1px solid var(--bg-color);
  border-radius: 10px;
  text-align: center;
  font-size: var(--font-size-text);
  color: var(--second-text-color);
  text-transform: uppercase;
}

.around {
  height: 700px !important;
  background: var(--bg-color);
}

.swiper_text {
  font-size: var(--font-size-text);
  color: var(--second-text-color);
}

.carousel {
  z-index: 2;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
}

.hotel_swiper div .section_header {
  color: var(--second-text-color);
  text-transform: uppercase;
}

.transfer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_text {
  text-align: center;
  font-size: var(--font-size-text);
}

.footer_content {
  background: var(--bg-color);
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 7%;
  align-items: center;
  font-size: var(--font-size-text);
  color: var(--second-text-color) !important;
}

.footer_col1 {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
  gap: 25px;
}

.contacts {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.las {
  font-size: 50px;
}

@media (max-width: 840px) {
  #menu-icon {
    display: block;
    color: white;
  }

  .bx-x {
    color: var(--text-color);
  }

  .w-100 {
    height: 100vh;
  }

  .nav_content {
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: white;
    text-align: left;
    transition: all 0.45s ease;
  }

  .nav_content a {
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all 0.45s ease;
    color: var(--text-color);
  }

  .nav_content a:hover {
    color: var(--main-color);
  }
  .nav_content a.active {
    color: var(--text-color);
  }
  .nav_content.open {
    top: 100%;
  }

  .logo {
    display: none;
  }
}
